# Backend Environment Variables
PORT=3000
MONGO_URI=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GEMINI_API_KEY=
JWT_SECRET=

# Frontend Environment Variables
REACT_APP_API_URL=https://medi-vault-zsg1.onrender.com
